<header>
  <h1 id="nav-title"><a href="#">DEV.TO</a></h1>
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <!-- Hamburger menu icon for mobile -->
  <div class="hamburger-menu">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</header>
